body {
    background-image: url('balloons.png');
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 350%;
    font-style: oblique;
    color:  #b31d2e;  
    
}
.link{
    text-align: center;
    padding-top: 50%;
    text-decoration: none; 
    font-size: 100%;
    font-style: oblique;
    color:  #b31d2e;  

}
h1 {
    text-align: center;
    font-size: 350%;
    font-style: oblique;
    color:  #b31d2e;   
}